.App {
  text-align: center;
  background-color: rgba(26, 26, 26, 1);
}

.home-page{
  height: auto;
  width: auto;
}

.nav-bar{
  background-color: rgba(26, 26, 26, 1);
  height : 80px;
  display : flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

.nav-button{
  color: aliceblue;
  background-color: rgba(26, 26, 26, 1);
  border-radius: 16px;
  margin-right: 10px;
  padding: 10px;
}